Medicare_Hospital_Cost_Prediction/data
Medicare_Hospital_Cost_Prediction/.ipynb_checkpoints
Computer_Vision/mnist_cpu/.ipynb_checkpoints
Computer_Vision/Spleen_Segmentation_GPU/.DS_Store
Natural_Language_Processing/bert_nlp/cola_public
Natural_Language_Processing/bert_nlp/.ipynb_checkpoints
Natural_Language_Processing/Classify_Medical_Specialty_NLP_Huggingface_Transformers_GPU/.ipynb_checkpoints
7. Geospatial/amazon-sagemaker-satellite-imagery-segmentation/.ipynb_checkpoints
7. Geospatial/amazon-sagemaker-satellite-imagery-segmentation/*.tar.gz*
7. Geospatial/aws-open-data-satellite-lidar-tutorial/.ipynb_checkpoints
7. Geospatial/data
7. Geospatial/amazon-sagemaker-satellite-imagery-segmentation/__pycache__
.ipynb_checkpoints 

10. Generative_AI/4. Synthetic_Satellite/base
10. Generative_AI/4. Synthetic_Satellite/EuroSAT
10. Generative_AI/4. Synthetic_Satellite/trained_model
10. Generative_AI/4. Synthetic_Satellite/=0.*.*
10. Generative_AI/4. Synthetic_Satellite/train_dreambooth_lora.py.1
10. Generative_AI/3. CTScan_Upscaler/Practice_PNGandJPG*
10. Generative_AI/3. CTScan_Upscaler/core.*